// 支払い方法登録ページ
.PaymentMethodPage {
  background-color: #f8f8f8;
  #PaymentMethodHeader {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #PaymentMethodFooter {
    font-size: 12px;
    text-align: center;
    padding: 20px 0 40px;
  }
  #PaymentMethodArea {
    width: 700px;
    padding: 40px 100px;
    margin: 0 auto;
    background-color: #fff;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 0 0 24px 0;
    }
    .PaymentMethodAreaBox {
      border-top: 1px solid #f2f2f2;
      padding: 24px 16px;
      dl {
        dt {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
    #DecideBtn {
      text-align: center;
      a.btn {
        display: block;
        width: 360px;
        margin: 0 auto;
        background: #ffb340;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 15px 50px;
      }
      a:hover {
        opacity: 0.8;
      }
    }
  }
}

// 新規カード登録ページ
.CardRegistPage{
  background-color: #f8f8f8;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #CardRegistHeader {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #CardRegistFooter {
    font-size: 12px;
    text-align: center;
    padding: 20px 0 40px;
  }
    
  #CardRegistArea {
    width: 700px;
    padding: 40px 100px;
    margin: 0 auto;
    background-color: #fff;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 0 0 24px 0;
    }
    .FormItem {
      margin-bottom: 32px;
      &__label {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 16px;
        & span {
          display: inline-block;
          color: #fff;
          background-color: #ffb340;
          font-size: 14px;
          line-height: 18px;
          padding: 0 4px;
          margin-left: 5px;
          border-radius: 2px;
        }
        & .required {
          background-color: #ffb340;
        }
        & .any {
          background-color: #bfbfbf;
        }
      }
      &__detail {
        & input {
          display: block;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          height: 48px;
          padding: 0 16px;
        }      
      }
      &__note {
        font-size: 14px;
        color: #999;
        margin: 10px 0 0 5px;
      }
      &__btn {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        & input {
          width: 100%;
          appearance: none;
          background: #ffb340;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 15px 0;
          margin-bottom: 20px;
          cursor: pointer;
        }
        & input:hover {
          opacity: 0.8
        }
      }
      &__exp_date {
        display: flex;
        align-items: center;
        & p {
          padding: 0 10px;
        }
      }
    }
    .border {
      border-top: 1px dashed #dfdfdf;
      padding-top: 32px;
      margin-bottom: 32px;
    }
  }
}

// カード詳細ページ
.CardShowPage{
  background-color: #f8f8f8;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #CardShowHeader {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #CardShowFooter {
    font-size: 12px;
    text-align: center;
    padding: 20px 0 40px;
  }
    
  #CardShowArea {
    width: 700px;
    padding: 40px 100px;
    margin: 0 auto;
    background-color: #fff;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 0 0 24px 0;
    }
    .Card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__detail {
        &__label {
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          margin-bottom: 32px;
        }
        &__contents {
          margin-bottom: 16px;
          padding-left: 2em;
        }
      }
      &__deleteBtn {
        & a {
          color: #ff2222;
          font-size: 14px;
          font-weight: bold;
          border-radius: 4px;
          border: 1px solid #ff2222;
          padding: 8px 15px;
        }
        & a:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
    .Button {
      &__btn {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        & a {
          display: block;
          background: #ffb340;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 15px 0;
          margin-bottom: 20px;
          cursor: pointer;
        }
        & a:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      &__back {
        text-align: center;
      }
    }
    .border {
      border-top: 1px dashed #dfdfdf;
      padding-top: 32px;
      margin-bottom: 32px;
    }
  }
}