// 新規カード登録ページ
//ローディング画面
#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
  .loadingMsg {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 140px;
    background: url("/assets/loading.gif") center center no-repeat;
  }
}

.CardRegistPage{
  @include no-header_page_default();
  #CardRegistHeader {
    @include sub_header();
  }
  #CardRegistFooter {
    @include sub_footer();
  }
    
  #CardRegistArea {
    @include no-header_area_default();
    .FormItem {
      margin-bottom: 32px;
      &__label {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 16px;
        span {
          display: inline-block;
          color: #fff;
          background-color: #ffb340;
          font-size: 14px;
          line-height: 18px;
          padding: 0 4px;
          margin-left: 5px;
          border-radius: 2px;
        }
        .required {
          background-color: #ffb340;
        }
        .any {
          background-color: #bfbfbf;
        }
      }
      &__detail {
        input {
          display: block;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          height: 48px;
          padding: 0 16px;
        }      
      }
      &__note {
        font-size: 14px;
        color: #999;
        margin: 10px 0 0 5px;
      }
      &__btn {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        input {
          width: 100%;
          appearance: none;
          background: #ffb340;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 15px 0;
          margin-bottom: 20px;
          cursor: pointer;
        }
        input:hover {
          opacity: 0.8
        }
      }
      &__exp_date {
        display: flex;
        align-items: center;
        p {
          padding: 0 10px;
        }
      }
    }
    .border {
      border-top: 1px dashed #dfdfdf;
      padding-top: 32px;
      margin-bottom: 32px;
    }
    .Notification {
      .alert {
        color: #ff2222;
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
}

// カード詳細ページ
.CardShowPage{
  @include no-header_page_default();
  #CardShowHeader {
    @include sub_header();
  }
  #CardShowFooter {
    @include sub_footer();
  }
    
  #CardShowArea {
    @include no-header_area_default();
    .Card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__detail {
        &__label {
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          margin-bottom: 32px;
        }
        &__contents {
          margin-bottom: 16px;
          padding-left: 2em;
        }
      }
      &__deleteBtn {
        a {
          color: #ff2222;
          font-size: 14px;
          font-weight: bold;
          border-radius: 4px;
          border: 1px solid #ff2222;
          padding: 8px 15px;
        }
        a:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
    .Button {
      &__btn {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        a {
          display: block;
          background: #ffb340;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 15px 0;
          margin-bottom: 20px;
          cursor: pointer;
        }
        a:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      &__back {
        text-align: center;
      }
    }
    .border {
      border-top: 1px dashed #dfdfdf;
      padding-top: 32px;
      margin-bottom: 32px;
    }
  }
}