= render partial: "/items/header"
.category_list_wrapper
  .category_list
    %h2.category_headline
      = @category.name
      の商品一覧
    .Item_block__lists
      = render partial:"items/items_list", collection: @items, as: "item"
= render partial: "/items/footer"
